{{^vendorExtensions.resolvedModelName}}{{complexType}}{{/vendorExtensions.resolvedModelName}}{{#vendorExtensions.resolvedModelName}}[{{vendorExtensions.resolvedModelName}}]({{vendorExtensions.resolvedModelName}}.md){{/vendorExtensions.resolvedModelName}}