{{^vendorExtensions.resolvedModelName}}{{complexType}}{{/vendorExtensions.resolvedModelName}}{{#vendorExtensions.resolvedModelName}}[{{vendorExtensions.resolvedModelName}}]({{#markdownBasePath}}{{markdownBasePath}}models/{{/markdownBasePath}}{{vendorExtensions.resolvedModelName}}.md){{/vendorExtensions.resolvedModelName}}