{{^vendorExtensions.resolvedModelName}}{{dataType}}{{/vendorExtensions.resolvedModelName}}{{#vendorExtensions.resolvedModelName}}[{{vendorExtensions.resolvedModelName}}]({{#markdownBasePath}}{{markdownBasePath}}models/{{/markdownBasePath}}{{^markdownBasePath}}../models/{{/markdownBasePath}}{{vendorExtensions.resolvedModelName}}.md){{/vendorExtensions.resolvedModelName}}