{{#operations}}
{{#operation}}
## {{httpMethod}} {{path}}
{{description}}
{{summary}}
{{#notes}}
* {{notes}}
{{/notes}}
{{#hasParams}}
### Request

| Parameter type | Name | Data type | Required | Description |
|----------------|------|-----------|----------|-------------|
{{#allParams}}
| {{#isFormParam}}Form{{/isFormParam}}{{#isQueryParam}}Query{{/isQueryParam}}{{#isPathParam}}Path{{/isPathParam}}{{#isHeaderParam}}Header{{/isHeaderParam}}{{#isBodyParam}}Body{{/isBodyParam}} | {{baseName}} | {{> _operation_type }} |{{^optional}}`Yes`{{/optional}}{{#optional}}`No`{{/optional}}| {{description}} |
{{/allParams}}
{{/hasParams}}

### Response

| Code | Type | Description |
|------|------|-------------|
{{#responses}}
| {{code}} | {{> _operation_type }} | {{ message }} |
{{/responses}}

{{/operation}}
{{/operations}}