{{#apiInfo}}
* Operations
{{#apis}}
{{#operations}}
{{#operation}}
  * [{{httpMethod}} {{path}}]({{markdownBasePath}}operations/{{classname}}/{{nickname}}.md)
{{/operation}}
{{/operations}}
{{/apis}}

* Models
{{#models}}
{{#model}}
  * [{{classname}}]({{markdownBasePath}}models/{{classname}}.md)
{{/model}}
{{/models}}
{{/apiInfo}}